version: 2
updates:
  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'monthly'
    groups:
      actions:
        patterns:
          - '*'
    commit-message:
      prefix: '⬆️ action'
    labels:
      - 'github-action :robot:'

  - package-ecosystem: 'go'
    directory: '/'
    schedule:
      interval: 'monthly'
    groups:
      go:
        patterns:
          - '*'
    commit-message:
      prefix: '⬆️ go'
    labels:
      - 'dependency :robot:'
