# GitHub Billing Report
{{ $isActions := .IsActions }}{{ $isPackages := .IsPackages }}{{ $isSecurity := .IsSecurity }}{{ $isStorage := .IsStorage }}{{ $showCosts := .ShowCosts }}
| Account |{{ if $isActions }} Actions (min) |{{ if $showCosts }} Net Cost ($) | Discount ($) |{{ end }}{{ end }}{{ if $isPackages }} Packages (GB) |{{ if $showCosts }} Net Cost ($) | Discount ($) |{{ end }}{{ end }}{{ if $isSecurity }} GHAS Committers |{{ end }}{{ if $isStorage }} Storage (GB) |{{ if $showCosts }} Actions (GB) | Packages (GB) | Net Cost ($) |{{ end }}{{ end }}
| ------- |{{ if $isActions }} -------------: |{{ if $showCosts }} ----------: | ----------: |{{ end }}{{ end }}{{ if $isPackages }} -------------: |{{ if $showCosts }} ----------: | ----------: |{{ end }}{{ end }}{{ if $isSecurity }} ---------------: |{{ end }}{{ if $isStorage }} ------------: |{{ if $showCosts }} ----------: | ------------: | ----------: |{{ end }}{{ end }}
{{ range .Data }}| {{ .Account }} |{{ if $isActions }} {{ printf "%.2f" .ActionMinutesUsed }} |{{ if $showCosts }} {{ printf "%.2f" .ActionNetCost }} | {{ printf "%.2f" .ActionDiscountAmount }} |{{ end }}{{ end }}{{ if $isPackages }} {{ printf "%.2f" .GigabytesBandwidthUsed }} |{{ if $showCosts }} {{ printf "%.2f" .PackagesNetCost }} | {{ printf "%.2f" .PackagesDiscountAmount }} |{{ end }}{{ end }}{{ if $isSecurity }} {{ .AdvancedSecurityCommitters }} |{{ end }}{{ if $isStorage }} {{ printf "%.2f" .EstimatedStorageForMonth }} |{{ if $showCosts }} {{ printf "%.2f" .ActionsStorageGB }} | {{ printf "%.2f" .PackagesStorageGB }} | {{ printf "%.2f" .StorageNetCost }} |{{ end }}{{ end }}
{{ end }}| |{{ if $isActions }}|{{ if $showCosts }}||{{ end }}{{ end }}{{ if $isPackages }}|{{ if $showCosts }}||{{ end }}{{ end }}{{ if $isSecurity }}|{{ end }}{{ if $isStorage }}|{{ if $showCosts }}|||{{ end }}{{ end }}
| **Total** |{{ if $isActions }} **{{ printf "%.2f" .TotalActions }}** |{{ if $showCosts }} **{{ printf "%.2f" .TotalActionsNetCost }}** | **{{ printf "%.2f" .TotalActionsDiscount }}** |{{ end }}{{ end }}{{ if $isPackages }} **{{ printf "%.2f" .TotalPackages }}** |{{ if $showCosts }} **{{ printf "%.2f" .TotalPackagesNetCost }}** | **{{ printf "%.2f" .TotalPackagesDiscount }}** |{{ end }}{{ end }}{{ if $isSecurity }} **{{ .TotalSecurity }}** |{{ end }}{{ if $isStorage }} **{{ printf "%.2f" .TotalStorage }}** |{{ if $showCosts }} **{{ printf "%.2f" .TotalActionsStorage }}** | **{{ printf "%.2f" .TotalPackagesStorage }}** | **{{ printf "%.2f" .TotalStorageNetCost }}** |{{ end }}{{ end }}
