name: build

on:
  push:
    branches:
      - main
    paths-ignore:
      - '*.md'
  pull_request:
    branches:
      - main
    paths-ignore:
      - '*.md'

jobs:
  build:
    runs-on: ubuntu-latest

    concurrency:
      group: build-${{ github.ref }}
      cancel-in-progress: true

    permissions: read-all

    env:
      CI: true

    steps:
      - uses: actions/checkout@v6.0.1

      - uses: actions/setup-go@v6.1.0
        with:
          go-version-file: 'go.mod'
          cache: true

      - run: go get -v -t ./...

      - run: go test -v ./...

      - run: go build -v .
