name: release

on:
  push:
    tags:
      - "v*"

jobs:
  release:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v6.0.1

      - uses: crazy-max/ghaction-import-gpg@v6.3.0
        id: gpg
        with:
          gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.GPG_PASSPHRASE }}

      - uses: cli/gh-extension-precompile@v2.1.0
        with:
          go_version_file: go.mod
          gpg_fingerprint: ${{ steps.gpg.outputs.fingerprint }}
